---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 4">
  <main>
    <h1>sf frens zines - issue 4</h1>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/design/W8VMFjwQakkmNXNHrdLgxT/sf-frens-zine--4?node-id=0-1&embed-host=share" allowfullscreen></iframe>
    <ul>
      <li><a href="https://youtu.be/CS5i0VhiMos">"The Cover of Zine 4" - Meena</a></li>
      <li><a href="https://youtu.be/1S8t08pnDnA">"Color Library" - Sherry</a></li>
      <li><a href="https://youtu.be/k19rA_mg8Yk">"Cancel Netflix - Go to the Library" - Pooja</a></li>
      <li><a href="https://youtu.be/xmMHxpYqk9M">"How to Zine" - Ker Lee</a></li>
      <li><a href="https://youtu.be/_B0y2t-vjlY">"Drawing of a Room" - Jeremie</a></li>
      <li><a href="https://youtu.be/uw34YYvGFaA">"the ship" - Ayser</a></li>
      <li><a href="https://youtu.be/VeBvmKJSlsg">"The Conjurer's Allotment" - Scott</a></li>
      <li><a href="https://youtu.be/d6coW5EfQ7g">"Figgy" - Kendy</a></li>
      <li><a href="https://youtu.be/sodMl9dQdco">"Loosy Goosey and Dimsum" - Oscar (and Matt on Drums)</a></li>
      <li><a href="https://youtu.be/m0QVjcR7SXE">"Half Alive" - Jack (And one other song)</a></li>
      <li><a href="https://youtu.be/0lSt6BivAdA">"Ran" - Original Song (and a cover)</a></li>
      <li><a href="https://youtu.be/p3iKz0p_By8">"John and Scott" - Original Song</a></li>
      <li><a href="https://youtu.be/yHPO17zfGHA">"The Barrel" - Aldous Harding (Covered by Meena and Zach)</a></li>
      <li><a href="https://youtu.be/8J8RvJksm5M">"Someone was here" - Noah</a></li>
      <li><a href="https://youtu.be/NTFd1YOrqWg">"A collection of photos" - Noam</a></li>
    </ul>
  </main>
</Layout>